// ignore_for_file: unused_local_variable

void main() {
  // This is the entry point for a Klutter application.
  // Specify app background colour with the variable appColour
  String appColour = "#FFFFFF";
}
